:root {
    font-family: 'Playfair Display', serif;

    box-sizing: border-box;
    background: #34623F;
}

*,
*::before,
*::after {
    box-sizing:   inherit;
}

body {
    margin: 0;
}

.bg-img {
    filter: brightness(70%);
}


.layout-header {
    position: absolute;
    top: 0;
    right: 130px;
    left: 130px;
    bottom: 0;
}


.layout-header > .layout-container {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: space-between;
    align-items:     center;
    max-width:       1440px;
    margin:          auto;
}



/* logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 5px;

    text-decoration: none;
}

.logo-img {
    width: 46px;
    height: 48px;
    
}

.logo-name {
    font-weight: 400;
    font-size: 24px;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
    color:  #FFFFFF;
    margin: 0;
}

.logo-name > .orange {
    font-weight: 700;
    color: #FF7D00;
}

/* Navigation menu */
.layout-nav > ul {
    list-style: none;

    margin-top:    0;
    margin-bottom: 0;
    padding-left:  0;

    display:   flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.layout-nav > ul > li {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    margin: 0;
    
    text-transform: uppercase;
}

.layout-nav > ul > li > a {
    color: #FFFFFF;
    text-decoration: none;
    
    padding: 5px 10px;
}

.layout-nav > ul > li > a:hover {
    color: black;
    background: #B1CC74;
    
    border-radius: 10px;
}


.layout-nav > ul > .dropdown:hover > .dropdown-wrapper {
    display: block;
}

.layout-nav > ul > .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu a:hover {
    color:  #FFFFFf;
    text-decoration: none;
}

.dropdown-wrapper {
    padding-top: 0;
    display:     none;

    position: absolute;
    top:      100%;
    left:     0;
    z-index:  120;
}

.dropdown-menu {
    list-style:    none;
    background:    #E8FCC2;
    box-shadow:    0px 0px 0px 1px rgba(14, 16, 20, 0.04), 0px 0px 2px rgba(14, 16, 20, 0.08), 0px 4px 12px rgba(14, 16, 20, 0.08);
    border-radius: 10px;
    padding:       0;
    margin:        0;

    min-width:     auto;
}

.dropdown-menu > li > a {
    font-size:       16px;
    font-weight:     700;
    line-height:     1.2;
    text-decoration: none;
    color:           black;
    border-radius:   10px;
    display:         block;

    padding:         10px;
    margin-top:      5px;
}

.dropdown-menu > li > a:hover {
    background: #34623F;
}

/* Home page */

h1 {
    font-size: 76px;
    font-weight: 800;
    line-height: 1.5;

    margin: 0;

    color: #FFFFFF; 
}



.bg-img {
    display: block;
    width: 100%;
    height: 100%;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    letter-spacing: 0.3em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.34375;
    color: #FFFFFF;

    padding: 10px 60px;

    background: rgba(255, 107, 0, 0.75);
    border-radius: 10px;
    border: none;

    position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

    margin-top: 90px;
}

.btn:hover {
    background: #FF7D00;
}

/* Our Story */
.block {
    box-sizing: border-box;

    background: #B1CC74;
    width: 1180px;
    margin: 100px auto 0 auto;
    border-radius: 20px 20px 0 0;

    padding-bottom: 50px;
}

h2 {
    font-size: 49px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    padding: 30px;
    margin: 0;

    letter-spacing: 0.5em;
    
    color: #34623F;
}

.quote {
    padding-left: 30px;
    padding-right: 30px;

    text-align: center; 
}

q {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5; 
}


.content {
    box-sizing: border-box;
    width: 555px;
    height: 336px;

    background: #E8FCC2;
    border: 3px solid #34623F;
    border-radius: 20px;

    margin: 30px 25px 0 20px;
}

h3 {
    font-size: 31px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.3em;

    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

    color: #FF7D00;
}

.m-t {
    margin-top: 20px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #000000;

    margin: 20px 20px 26px 20px;
}

.btn-learn {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 5px 10px;

    background: #34623F;
    border-radius: 10px;
    border: none;
}

.marg {
    margin: 0 20px 20px 20px;
    float: right;
}

.btn-learn:hover {
    color: #34623F;
    
    padding: 2px 7px;
    background: #FFFFFF;
    border: 3px solid #34623F;
    border-radius: 10px;
}

.size {
    width: 560px;
    height: 336px;

    margin: 30px 0 0 0;
}

.img-bor {
    border-radius: 20px;  
}

.img-bor:hover {
    transform: scale(1.03);
    filter: brightness(0.9);
}

.block-content {
    display: flex;
    flex-direction: row;
    transition: transform .2s; /* Animation */
}

.block-cont {
    display: flex;
    flex-direction: row-reverse;
    transition: transform .2s; /* Animation */
}

/* Our mission */
.container {
    box-sizing: border-box;
    width: 1180px;
    height: 812px;
    
    background: #E8FCC2;
    border-radius: 0px 0px 20px 20px;
    top: 0;
    margin: 0 auto 100px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 50px 20px 15px 20px;
    transition: transform .2s; /* Animation */
}

.res {
    width: 665px;
    height: 300px;

    margin-right: 15px;
}

.bee {
    width: 460px;
    height: 300px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0 20px 0px 20px;
    transition: transform .2s; /* Animation */
}

.img-s {
    width: 277px;
    height: 202px;
}


/* Donation form */
.donform {
    position: relative;
}

.rect  {
    width: 1180px;
    height: 421px;  
    margin: auto;   
}

.orange {
    background: #FF6B00;
    border-radius: 20px 20px 0px 0px;
}

.green {
    background: #B1CC74;
    border-radius: 0 0 20px 20px;
}

.white {
    width: 1020px;
    height: 654px;
    margin: auto;

    background: #FFFFFF;
    box-shadow: -18px 18px 29px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
}

.centr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.par {
    width: 355px;
    height: 654px;
    
    float: right;
    border-radius: 0px 20px 20px 0px;
}

.form {
    position: absolute;
    width: 565px;
    height: 567px;

    margin: 43px 50px;
}

.don {
    font-weight: 600;
    font-size: 31px;
    line-height: 1.2;
    text-align: none;

    color: #000000;
    letter-spacing: normal;

    margin-top: 0;
    margin-bottom: 40px;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 5px; 
}

.field-error {
    display: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between + .space-between {
    margin-top: 20px;
}

.field > label::after {
    content: ' *';
    color: rgba(255, 107, 0, 0.7);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="amount"],
textarea  {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #000000;

    padding: 5px 10px;
}


.error-msg {
    margin: 0;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ff0000;
}

.field > input,
.field > textarea {
    outline: none !important;
}

.border-bottom-input {
    width: 259px;
    border:0;
    border-bottom: 2px solid rgba(255, 107, 0, 0.7);
}

.border-bottom-input:focus {
    border-bottom: 2px solid #000;
}

.border-bottom-error {
    width: 259px;
    border:0;
    border-bottom: 2px solid #ff0000;
}

input:optional {
    border-color: rgba(255, 107, 0, 0.7);;
}


textarea:optional {
    border-color: rgba(255, 107, 0, 0.7);;
}

label {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    color: rgba(255, 107, 0, 0.8);
    padding: 5px 10px;  
}

::placeholder {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    
    color: #555A55;
}


.message-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}


textarea {
    width: 564px;
    height: 136px;
    box-sizing: border-box;

    border: 2px solid rgba(255, 107, 0, 0.8);
    border-radius: 5px;
    resize: none;
}

.btn-submit {
    width: 100%;
    height: 62px;

    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.31em;

    color: #FFFFFF;
    background: rgba(255, 125, 0, 0.8);;
    border-radius: 10px;
    border: none;

    margin-top: 50px;
}

.btn-submit:hover {
    background: #FF7D00;
}

/* What we do */
div#whatwedo.container.br {
    margin: 100px auto 0;
    height: 671px;
}

.br {
    border-radius: 20px 20px 0px 0px;;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.card:hover {
    filter: drop-shadow(10px 10px 24px #34623F);
    transform: scale(1.02);
}

.card-headline {
    letter-spacing: 0;
    padding: 20px 0 20px 0;
}

.card-content {
    margin: 0;
    padding: 0 20px 40px 20px;
}

.card-img {
    display: block;
    border-radius: 20px 20px 0 0;
    bottom: 0;
}

.bg-white {
    background: white;
}

.post {
    width: 356px;
    height: 265px;

    border-radius: 0px 0px 20px 20px;
}

.card-btn {
    margin-right: 20px;
    float: right;
}


/* By the numbers */
div#bythenumbers {
    width: 1180px;
    height: 367px;

    margin-top: 0;
}

.bor {
    border-radius: 0px 0px 20px 20px;
}

.mb {
    margin-bottom: 50px;
}

.left {
    margin-left: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px 20px;
}
.box {
    background-color: #E8FCC2;

    width: 1140px;
    height: 194px;
    border-radius: 20px;
    border: 3px solid #34623F;

    display: inline-flex;
    justify-content: space-between;

    margin: 0px 20px;
}

/* How we di it*/

.block-card {
    width: 1180px;
    height: 736px;
}

.bg-color {
    background-color: #E8FCC2;
}

.bord-rad {
    border-radius: 20px;
}

.margin-block {
    margin: 100px auto 0px;
}
.rectangle {
    width: 681px;
    height: 450px;
    float: right;
    padding: 0px 20px 20px 342px;
    margin: 50px 100px 0px 0px;
}

h2#howwedoit {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.block-card-image {
  margin: 236px 0px 50px 100px; 
  position: absolute;
}

.green-shadow {
    box-shadow: 5px 5px 41px 5px #34623F;;
}

/* Ways to help*/
.q {
    display: block;
    text-align: center;
    padding: 0px 161px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.animalcard {
    margin-top: 30px;
    position: relative;
    max-width: 360px;
    max-height: 538px;
    box-shadow: (-15px 15px 30px rgba(0, 0, 0, 0.25));
}

.card-title {
    display: block;
    text-align: center;
    background-color: white;
    padding: 2%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    letter-spacing: normal;
}

.animalcard img {
    width: 360px;
    height: 438px;
    object-fit: cover;
    display: block;
    position: relative;
    border-radius: 0px 0px 20px 20px;
  }

.card-descr{
    display: block;
    position: absolute;
    height: -webkit-fill-available;
    top: 0;
    opacity: 0;
    font-size: larger;
    padding: 32px 62px;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
}

.animalcard:hover .card-desc {
    opacity: 0.9;
    height: 100%;
  }









